.server-details-summary {
  padding: 1rem 0 0 1rem;
  display: flex;

  .ipAddress {
    width: 10rem;
  }

  .players {
    width: 3rem;
  }

  .gameName {
    width: 5rem;
  }

  .mapName {
    width: 5rem;
  }

  &:after {
    content: ">";
    right: -2rem;
  }
}

.server-details-verbose {
  display: flex;

  .server-details-section {
    width: calc(100% / 3);
  
    @media screen and (max-width: 959px) {
      width: 100%;
    }
  }
}
